




.menu {
  color:  #dddddd;
 z-index: 10;
font-family: 'Oswald';

margin: 1.414em 0 0.5em;
line-height: 1.2;
font-weight: 700;
font-size: 0.9em;
background-color: #901718;
position : fixed;
background-size: cover;
width: 100%;
margin: 0;
text-align: center;





}



.menu li a{
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.9em;

   }

#survol1:hover{
	color: #002D52;
	background-color: white;

}



#survol2:hover{
	color: #002D52;
	background-color: white;

}



#survol3:hover{
	color: #002D52;
	background-color: white;

}



#survol4:hover {
	color: #002D52;
	background-color: white;

}


ul#menu_horizontal li {
display : inline;
padding : 0 0.5em; /* Pour espacer les boutons entre eux */
}
ul#menu_horizontal {
list-style-type : none;
}



 body {
background-color: white;
color: #901718;
}

section{
  max-width: 46em;
  margin:0 auto;
  margin-top: 8em;
  margin-bottom: 8em;

}


header{
  background-image: url(moi.jpg);
  min-height: 100vh;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: right;
  color: white;
  background-attachment: fixed;
padding-left: 5em;
padding-right: 5em;







}

footer{
background-color: #002D52;
color:  #dddddd;
padding: 5em;
}

footer a{
  color: white;

}
ul{
list-style-type: none;
}


.mywork{

  background-color: white ;
  margin: 0;
  margin-top: 3em;


}
.mywork ul{
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
justify-content: center;



}

.mywork li{
  border:white solid 0.5em;
  max-width: 32%;

  margin: 0;


}




.mywork img{
  width: 100%;


}




.nastyadvert {
   z-index: 1;
background-image: url(long3.jpg);

background-size: cover;
background-attachment: fixed;
min-height: 40vh;
position: relative;
}

.nastyadvert2 {
   z-index: 3;
background-image: url(long1.jpg);
background-size: cover;
background-attachment: fixed;
min-height: 40vh;
position: relative;
}

.nastyadvert3 {
   z-index: 2;
background-image: url(long2.jpg);

background-size: cover;
background-attachment: fixed;
min-height: 40vh;
position: relative;
}






.stages ul{
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
}

.stages li{
  max-width: 30%;
  padding: 1%;
}


.linklist{

  color:  #dddddd;
font-family: 'Oswald', sans-serif ;
line-height: 1.2;
font-weight: 700;
font-size: 1.1em;
background-color: #002D52;
width: 100%;
margin: 0;
}



.linklist ul li {
display : inline;

}
.linklist ul {
list-style-type : none;
}

















form{
align-content: center;


}

.cssform p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left:; /*width of left column containing the label elements*/
height: 1%;

}

.cssform label{
font-weight: bold;
float: left;
width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type=&quot;text&quot;]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 180px;
}

.cssform textarea{
width: 250px;
height: 150px;
}

/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
margin-left: 3px;
}






















.footer-distributed{
	background-color: #901718;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;

	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #701919;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  white;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  white;
}

.footer-distributed ::-moz-placeholder {
	color:  white;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #701919;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}
